* {
    background-color: #4a1815;
}

body {
    font-family: Helvetica, sans-serif;
    line-height: 1.5;
    text-align: center;
    color: white;
}

.list {
    display: inline-block;
    text-align: left;
}

a {
    color: inherit;
    text-align: center;
}

h1 {
    background-color: #ffd9a0;
}

img {
    height: 300px;
}